header {
  width: 100%;
  background-color: #f26b11;
}
header .main {
  height: 0.88rem;
  width: 7.04rem;
  margin: 0 auto;
  background-color: #f26b11;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main a {
  color: #fff;
  font-size: 0.34rem;
}
header .main a img {
  width: 0.55rem;
  height: 0.11rem;
  padding-top: 0.09rem;
}
.top {
  width: 100%;
  border-bottom: 0.11rem solid #f1f1f1;
}
.top .main {
  width: 7.04rem;
  height: 1.49rem;
  margin: 0 auto;
  font-size: 0.24rem;
  color: #656565;
  position: relative;
  padding-top: 1px;
}
.top .main p:nth-child(1) {
  margin: 0.27rem 0 0.24rem 0.06rem;
}
.top .main p:nth-child(1) span {
  margin-left: 3.1rem;
}
.top .main p:nth-child(2) {
  margin-left: 0.06rem;
}
.top .main a {
  display: block;
  position: absolute;
  right: 0;
  top: 0.64rem;
}
.content .main {
  width: 7.04rem;
  margin: 0 auto;
  display: flex;
}
.content .main img {
  width: 1.02rem;
  height: 1.02rem;
  margin: 0.22rem 0.27rem 0 0.11rem;
}
.content .main div:nth-child(2) p:nth-child(1) a {
  display: block;
  margin: 0.4rem 2.57rem 0.24rem 0;
  font-size: 0.24rem;
  color: #686868;
}
.content .main div:nth-child(2) P:nth-child(2) {
  font-size: 0.22rem;
  color: #ababab;
}
.content .main > p {
  font-size: 0.28rem;
  color: #eb363d;
  margin-top: 0.42rem;
}
.content1 .main {
  width: 7.04rem;
  height: 1.38rem;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.content1 .main P:nth-child(1) {
  margin: 0.53rem 0 0 0.04rem;
  font-size: 0.22rem;
  color: #616161;
}
.content1 .main p:nth-child(2) {
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.63rem;
  margin-top: 0.35rem;
}
.content1 .main p:nth-child(2) span:nth-child(1) {
  display: inline-block;
  width: 0.73rem;
  height: 0.63rem;
  border: 1px solid #535353;
  border-radius: 0.03rem;
}
.content1 .main p:nth-child(2) span:nth-child(2) {
  display: inline-block;
  width: 1.17rem;
  height: 0.63rem;
  border: 1px solid #535353;
  margin: 0 0.09rem;
  border-radius: 0.03rem;
}
.content1 .main p:nth-child(2) span:nth-child(3) {
  display: inline-block;
  width: 0.73rem;
  height: 0.63rem;
  border: 1px solid #535353;
  border-radius: 0.03rem;
}
.content2 {
  height: 0.96rem;
  border-bottom: 0.11rem solid #f2f2f2;
}
.content2 .main {
  width: 7.04rem;
  height: 0.96rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  font-size: 0.22rem;
  color: #6b6b6b;
}
.content3 {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
.content3 .main {
  width: 7.04rem;
  height: 0.99rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6b6b6b;
  font-size: 0.24rem;
}
.content4 {
  width: 100%;
  height: 1rem;
  border-bottom: 0.11rem solid #f3f3f3;
}
.content4 .main {
  width: 7.04rem;
  margin: 0 auto;
  height: 1rem;
  display: flex;
  align-items: center;
}
.content4 .main p:nth-child(1) {
  color: #6b6b6b;
  font-size: 0.24rem;
}
.content4 .main p:nth-child(2) {
  font-size: 0.22rem;
  color: #6b6b6b;
}
.content4 .main p:nth-child(2) span:nth-child(2) {
  display: inline-block;
  height: 0.73rem;
  width: 0.73rem;
  border-radius: 0.02rem;
  background-color: #f26b11;
  border: 1px solid #f4ab2a;
  box-sizing: border-box;
  color: #fff;
  line-height: 0.73rem;
  text-align: center;
  margin: 0 0.2rem;
  font-size: 0.24rem;
}
.content4 .main p:nth-child(2) span:nth-child(3) {
  font-size: 0.2rem;
  color: #dd3032;
}
.content4 .main p:nth-child(2) input {
  width: 1.49rem;
  height: 0.7rem;
  text-align: center;
  font-size: 0.22rem;
  border: 0.02rem solid #d9d9d9;
  border-radius: 0.03rem;
  margin-left: 2.23rem;
}
.content5 {
  width: 100%;
}
.content5 .main {
  width: 7.04rem;
  height: 2.59rem;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid #efefef;
  justify-content: space-between;
}
.content5 .main ul:nth-child(1) {
  margin-top: 0.35rem;
  font-size: 0.24rem;
  color: #656565;
}
.content5 .main ul:nth-child(1) li {
  margin-bottom: 0.21rem;
}
.content5 .main ul:nth-child(2) {
  margin-top: 0.35rem;
  font-size: 0.24rem;
  color: #e22537;
}
.content5 .main ul:nth-child(2) li {
  margin-bottom: 0.21rem;
}
.bottom1 {
  width: 100%;
}
.bottom1 .main {
  width: 7.04rem;
  margin: 0 auto;
  font-size: 0.34rem;
  color: #686868;
  display: flex;
  margin-top: 0.52rem;
  justify-content: flex-end;
}
.bottom1 .main span {
  color: #eb363d;
}
.bottom2 {
  width: 100%;
}
.bottom2 .main {
  width: 7.04rem;
  margin: 0 auto;
  text-align: center;
}
.bottom2 .main input {
  width: 3.57rem;
  height: 1.11rem;
  background-color: #f26b11;
  color: #fff;
  font-size: 0.3rem;
  margin-top: 0.45rem;
  margin-bottom: 1.5rem;
}
footer {
  border-top: 1px solid #ededed;
  width: 100%;
  height: 1.2rem;
  position: fixed;
  left: 0 ;
  bottom: 0;
}
footer .main {
  width: 7.04rem;
  height: 1.2rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
footer .main p {
  font-size: 0.2rem;
  color: #818181;
  margin-top: 0.08rem;
}
