header{
    background-color: pink;
    height: 70px;
}
header ul{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner{
    height: 300px;
}
.banner img{
    width:100%;
    height: 100%;
}